<ul class="navbar-nav">
    {{#foreach navigation}}
    <li class="nav-item {{#if current}} active{{/if}}"><a class="navbar-brand" href="{{url absolute="true"}}">{{label}}</a></li>
    {{/foreach}}
</ul>
